extends layout

block content
    div.container
      div.content
        table.table.table-striped
          thead
            tr
              th Table
              th Heading
          tbody
            tr
              td Blah
              td Test
            tr
              td Hello
              td World
