body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

td .saveEditButton {
  float: right;
  display: none;
}

td .button-active{
  display: inline-block !important;
}
